@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    setTimeout(function () {

        window.mybuttonclick = function () {
            $("h1").text("My Button Clicked!");
        }

        $(".text-center").append('<button id="mybutton" onclick="window.mybuttonclick.call(this)">MyButton</button>');

    }, Math.floor(Math.random() * 3000));
</script>